<h1>Компьютерный сервис</h1> 
<p>Приветствуем <%= @user.name %>,</p> 
<p> Добро пожаловать в компьютерный сервис! Пройдите по ссылке для активации Вашего аккаунта: </p> 
<%= link_to "Активировать", edit_account_activation_url(@user.activation_token, email: @user.email) %>
