<footer class="footer"> 
  <small> 
    <p>&copy; <%= t('Компьютерный сервис') %> <%= Time.now.year %></p>
  </small> 
  <nav> 
  	<ul> 
      <li class="phone-number"><a href="tel:+79632966600"><b>+7 (963) 296-66-00</b></a></li>
      <li><a href="https://wa.me/79632966600"><img class="social-photo" src="social/wa.jpg" alt="WA" /></a></li> 
      <li><a href="https://vk.com/kompremont39"><img class="social-photo" src="social/vk.jpg" alt="VK" /></a></li> 
  	  <li><a href="https://instagram.com/help_computer_39?utm_medium=copy_link"><img class="social-photo" src="social/inst.jpg" alt="Inst" /></a></li> 
  	</ul> 
  </nav> 
</footer>
